.projectContainer {
    width: 500px;
    border-radius: 10px;
    border: 1px solid lightgrey;
    background-color: white;
    text-align: left;
    padding: 20px;
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    width: 100%;
    align-items: center;
}

.challenge {
    width: 500px;
    margin: 0 auto;
    text-align: left;
}

.input {
    width: 100%; 
    height: 38px;
    padding-left: 10px;
    box-sizing: border-box;
    border: 1px solid lightgrey;
    border-radius: 5px;
    outline: none;
}
.input::placeholder {
    color: lightgrey;
}